# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Datasets
datasets/**/*.csv
datasets/**/*.parquet
datasets/**/*.feather

# Modelos entrenados
*.pkl
*.joblib

# Outputs
outputs/
logs/
runs/

# IDE
.idea/
.vscode/

# Sistema
.DS_Store